/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  font-family: verdana, sans-serif;
}

h1 {
  margin: 10px;
  padding: 20px;
  text-align: center;
}

/* main section styling */

.mainPage {
  border: 1px solid blue;
  margin: 20px;
  padding: 20px;
}

#startQuiz {
  margin: 20px 0px 10px 0px;
}

/* question section styling */

.questionSection {
  border: 1px solid blue;
  margin: 20px;
  padding: 20px;
}

.answerOptions {
  border: 1px solid blue;
  margin: 20px;
  padding: 20px;
  background-color: rgb(245, 245, 245);
}

#submitAnswer {
  margin: 20px 0px 10px 0px;
  background-color: white;
}

.quizStatusSection {
  border: 1px solid blue;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgb(245, 245, 245);
}

.currentQuestion {
  display: flex;
  border: 1px solid blue;
  margin: 20px;
  padding: 20px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.currentScore {
  display: flex;
  border: 1px solid blue;
  margin: 20px;
  padding: 10px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

/* feedback section styling */

.feedbackSectionCorrect {
  border: 1px solid blue;
  margin: 20px;
  padding: 20px;
}

.feedbackSectionIncorrect {
  border: 1px solid blue;
  margin: 20px;
  padding: 20px;
}

#nextQuestion {
  margin: 20px 0px 10px 0px;
}

/* results page styling */

.resultsSection {
  border: 1px solid blue;
  margin: 20px;
  padding: 20px;
}

.final-results {
  background-color: rgb(245, 245, 245);
  margin: 20px 0px;
}

#newQuiz {
  margin: 20px 0px 10px 0px;
}
